.footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 90px;
  color: #bbb;

  padding: 3vh 0 5vh 0;
}

@media screen and (max-width: 499px) {
  .footer {
    padding: 0px 50px 40px 50px;
  }
}
